@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
  --abyssal: #1B2632;
  --palladian: #EEE9DF;
}
@layer base {
  body {
    @apply dark:bg-slate-900 dark:text-yellow-50/90 text-abyssal;
  }

  progress.progress-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 9999px;
    overflow: hidden;
  }

  /* Background (track) */
  progress.progress-bar::-webkit-progress-bar {
    background-color: rgb(15 23 42 / 0.8); /* abyssal w/ opacity */
    border-radius: 9999px;
  }

  /* Value (fill) */
  progress.progress-bar::-webkit-progress-value {
    background-color: rgb(241 245 249 / .8); /* red-300 */
    border-radius: 9999px;
  }

  /* Firefox uses -moz-progress-bar only for the value */
  progress.progress-bar::-moz-progress-bar {
    background-color: rgb(241 245 249 / .8);
    border-radius: 9999px;
  }

  /* Dark mode */
  .dark progress.progress-bar::-webkit-progress-value {
    background-color: rgb(241 245 249 / .5); /* slate-100 */
  }
  .dark progress.progress-bar::-moz-progress-bar {
    background-color: rgb(241 245 249 / .5);
  }

}

.slide-horizontal-enter-active,
.slide-horizontal-leave-active {
  transition: transform 0.1s ease-in-out, opacity 0.2s ease-in-out;
  will-change: transform, opacity;
}

.slide-horizontal-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-horizontal-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.slide-horizontal-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.slide-horizontal-leave-to {
  transform: translateX(0);
  opacity: 0;
}