@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
	--abyssal: #1b2632;
	--palladian: #eee9df;
}
@layer base {
	body {
		@apply text-abyssal dark:bg-slate-900 dark:text-yellow-50/90;
	}
	progress.progress-bar {
		@apply h-[3px] overflow-hidden rounded-full;
		-webkit-appearance: none;
		appearance: none;
	}

	/* Track */
	progress.progress-bar::-webkit-progress-bar {
		@apply bg-white;
		border-radius: 9999px;
	}

	/* Fill */
	progress.progress-bar::-webkit-progress-value {
		@apply bg-green-400;
		border-radius: 9999px;
	}

	/* Firefox fill */
	progress.progress-bar::-moz-progress-bar {
		background-color: black;
		border-radius: 9999px;
	}
}
.slide-horizontal-enter-active,
.slide-horizontal-leave-active {
	transition:
		transform 0.1s ease-in-out,
		opacity 0.2s ease-in-out;
	will-change: transform, opacity;
}

.slide-horizontal-enter-from {
	transform: translateX(-100%);
	opacity: 0;
}

.slide-horizontal-enter-to {
	transform: translateX(0);
	opacity: 1;
}

.slide-horizontal-leave-from {
	transform: translateX(0);
	opacity: 1;
}

.slide-horizontal-leave-to {
	transform: translateX(0);
	opacity: 0;
}
