@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-slate-700;
  }
}
/* Custom progress bar styling */
progress.progress-bar {
  -webkit-appearance: none;
  appearance: none;
  @apply bg-slate-300 rounded-full;
}

progress.progress-bar::-webkit-progress-bar,
progress.progress-bar::-moz-progress-bar {
  @apply bg-slate-300 rounded-full;
}

progress.progress-bar::-webkit-progress-value,
progress.progress-bar::-moz-progress-value {
  @apply bg-abyssal rounded-full;
}

.dark progress.progress-bar::-webkit-progress-bar,
.dark progress.progress-bar::-moz-progress-bar {
  @apply bg-abyssal rounded-full;
}

.dark progress.progress-bar::-webkit-progress-value,
.dark progress.progress-bar::-moz-progress-value {
  @apply bg-slate-100 rounded-full;
}
.slide-horizontal-enter-active,
.slide-horizontal-leave-active {
  transition: transform 0.1s ease-in-out, opacity 0.2s ease-in-out;
  will-change: transform, opacity;
}
.slide-horizontal-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-horizontal-enter-to {
  transform: translateX(0);
  opacity: 1;
}
.slide-horizontal-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.slide-horizontal-leave-to {
  transform: translateX(0);
  opacity: 0;
}
